<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Data</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    #loader {
      display: none;
    }
  </style>
</head>
<body>
    <div class="container">
    <h1>Emails</h1>
     <!-- AJAX Loader -->
  <div id="loader" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p>Loading...</p>
  </div>
    <ul class="list-group" id="email-list">
        <li class="list-group-item">
          <div class="row">
            <div class="col">ID</div>
            <div class="col">Sender</div>
            <div class="col">Subject</div>
            <div class="col">Read Status</div>
          </div>
        </li>
    </ul>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const localId = urlParams.get('localId');
        
        async function startSync(){
            await fetch(`/api/sync?localId=${localId}`);
        }

        async function fetchEmails() {

            document.getElementById("loader").style.display = "block";

            const response = await fetch(`/api/emails?localId=${localId}`);
            const emails   = await response.json();
            const emailList = document.getElementById('email-list');
            
            emails.forEach(email => {
                const childElementHtml = `<li class="list-group-item">
                                              <div class="row">
                                                <div class="col">${email.local_id}</div>
                                                <div class="col">${email.sender}</div>
                                                <div class="col">${email.subject}</div>
                                                <div class="col">${email.read_status}</div>
                                              </div>
                                            </li>`;
                emailList.innerHTML += childElementHtml
            });
            document.getElementById("loader").style.display = "none";
        }
        startSync();
        fetchEmails();
        setInterval(fetchEmails, 10000);  // fetch emails every 30 seconds
    </script>
</div>
</body>
</html>

